{{- $experience := .data.experience }} {{- if $experience | and $experience.show }} {{- $items :=
$experience.items | default (slice) }} {{- $itemCount := len $items }}
<section class="experience" style="order: {{ $experience.order | default 1 }}">
  <div class="experience-intro-block">
    <div class="section-title">
      <i class="section-icon fa-solid fa-briefcase"></i>
      <h2>{{ $experience.title }}</h2>
    </div>

    <div class="section-content">
      {{- if $experience.description }}
      <div class="description markdown">{{ $experience.description | markdownify | safeHTML }}</div>
      {{- end }} {{- if ge $itemCount 1 }}
      <div class="items">
        {{- partial "experience-entry.html" (dict "item" (index $items 0) "showDivider" (gt
        $itemCount 1)) }}
      </div>
      {{- end }}
    </div>
  </div>

  {{- if gt $itemCount 1 }}
  <div class="section-content">
    <div class="items">
      {{- range $index, $item := after 1 $items }} {{- partial "experience-entry.html" (dict "item"
      $item "showDivider" (lt (add $index 2) $itemCount)) }} {{- end }}
    </div>
  </div>
  {{- end }}
</section>
{{- end }}
