{{- $item := .item }} {{- $showDivider := .showDivider }}
<div class="entry">
  <div class="item">
    {{- if $item.company }}
    <div class="row">
      <div class="company">
        {{- if $item.link }}
        <a href="{{ $item.link }}" target="_blank">{{ $item.company | safeHTML }}</a>
        {{- else }}
        <span>{{ $item.company | safeHTML }}</span>
        {{- end }} {{- if $item.tags }}
        <small>[{{ $item.tags }}]</small>
        {{- end }}
      </div>
      <div class="date">
        <span>{{ $item.date }}</span>
      </div>
    </div>

    <div class="row">
      <div class="role">
        <span>{{ $item.role }}</span>
      </div>
      {{- if $item.location }}
      <div class="location">
        <i class="fa-solid fa-location-dot"></i>
        <span>{{ $item.location }}</span>
      </div>
      {{- end }}
    </div>

    {{- if $item.description }}
    <div class="description markdown">{{ $item.description | markdownify | safeHTML }}</div>
    {{- end }} {{- end }}
  </div>

  {{- if $showDivider }}
  <div class="divider"></div>
  {{- end }}
</div>
