{{- $language := .data.language }} {{- if $language | and $language.show }}
<section class="language" style="order: {{ $language.order | default 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-earth-americas"></i>
    <h2>{{ $language.title }}</h2>
  </div>

  <div class="section-content">
    {{- if $language.description }}
    <div class="description markdown">{{ $language.description | markdownify | safeHTML }}</div>
    {{- end }} {{- if $language.items }}
    <div class="items">
      {{- range $item := $language.items }}
      <div class="item">
        <div class="row">
          <div class="language-name">
            <span>{{ $item.idiom }}</span>
          </div>
          {{- if $item.level }}
          <div class="date">
            <span>{{ $item.level }}</span>
          </div>
          {{- end }}
        </div>
      </div>
      {{- end }}
    </div>
    {{- end }}
  </div>
</section>
{{- end }}
