{{- $skill := .data.skill }} {{- if $skill | and $skill.show }}
<section class="skill" style="order: {{ $skill.order | default 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-toolbox"></i>
    <h2>{{ $skill.title }}</h2>
  </div>

  <div class="section-content">
    {{- if $skill.description }}
    <div class="description markdown">{{ $skill.description | markdownify | safeHTML }}</div>
    {{- end }} {{- if $skill.items }}
    <div class="items">
      {{- range $item := $skill.items }}
      <div class="item">
        <div class="skill-name">
          <span>{{ $item.name | safeHTML }}</span>
        </div>
        {{- if $item.item }}
        <div class="skill-tags">
          {{- range $tag := $item.item }}
          <span>{{ $tag | safeHTML }}</span>
          {{- end }}
        </div>
        {{- else }}
        <div class="skill-level">
          {{- range $i := (seq 5) }} {{- with $.Site }} {{- if le $i $item.level }}
          <i class='fa-solid fa-{{ .Params.skillLevelIcon | default "star" }}'></i>
          {{- else }}
          <i class='fa-regular fa-{{ .Params.skillLevelIcon | default "star" }}'></i>
          {{- end }} {{- end }} {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </div>
    {{- end }}
  </div>
</section>
{{- end }}
